[Unit]
Description=Init system-wide flatpak repository
ConditionPathExists=!/var/lib/flatpak/repo/config
OnFailure=flatpak-cleanup.service

[Service]
Type=simple
ExecStart=flatpak remote-list --system

[Install]
WantedBy=multi-user.target
